{% extends 'ledger/base.html' %}
{% block title %}Transactions{% endblock %}
{% block content %}


  <body>




      <form method='POST' style="width:400px; margin:auto;" action="{% url 'day_range_rec' %}">
        <h1 style="padding-left:4.5rem; padding-top:1rem">Transactions</h1>
        {% if error %}
        <p class="alert alert-danger" role="alert">{{ error }}</p>
        {% endif %}
        {% csrf_token %}
        <div class="form-group" style="padding:0.5rem">
          <label style="padding-down:1rem">From:</label>
          <input class="form-control"  type="date" name="fromdate">
        </div>
        <div class="form-group" style="padding:0.5rem">
          <label style="padding-down:1rem">To:</label>
          <input class="form-control" type="date" name="todate">
        </div>
        <button class="btn btn-outline-primary" style="width:100px; margin:0.5rem;" type='submit'>GET PDF</button>

      </form>

      

  </body>



{% endblock %}
