{% extends 'ledger/base.html' %}
{% block title %}Web Ledger{% endblock %}
{% block css %}
<style media="screen">

h1 {
  padding-top: 100px;
  text-align:center;
  color: #dc143c;
  font-family: 'Montserrat', sans-serif;
}

form {
  text-align: center;
}
.form-control {
  margin: 1rem;
}


</style>

{% endblock %}
{% block content %}
<div style="margin:auto; width:90%;">
  <div style=" justify-content:space-between; margin:1rem; width:100%">
    <h1>WEB LEDGER</h1>

  </div>
<form method="POST" action = "/" class="form-inline my-2 my-lg-0">
  {% csrf_token %}
      <input style="padding:20px; margin-left:25%; width:50%" class="form-control mr-sm-2" type="search" placeholder="Search Dealer" aria-label="Search" name="query" id="query">
      <button style="margin:1rem; width:20% display:inline" class="btn btn-outline-success" type="submit">Search</button>
      <a style="display:inline margin:1rem; " class="btn btn-outline-primary" href="{% url 'dealerform' %}" role="button">Create Dealer</a>
</form>


{% if alldealers %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">S. No.</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Number</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for d in alldealers %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        {{ d.name }}
      </td>
      <td>{{ d.address }}</td>
      <td>{{ d.mob_num }}</td>
      <td><a href="{% url 'dealer' d.id %}">
          View Dealer
      </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endif %}


{% endblock %}
